<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			商品一覧
		</title>
		<link th:href="@{/product/css/productList.css}" rel="stylesheet">
		<link th:href="@{/common/css/header.css}" rel="stylesheet">
		<link th:href="@{/common/css/footer.css}" rel="stylesheet">
	</head>
	<body>
		<header th:replace="common/header :: layout_header">
		</header>
		<main>
			<div class="main">
				<h1 class="main_title">
					商品一覧画面
				</h1>
				<div class="product_list">
					<section th:each="product : ${products}">
						<div>
							<a th:href="@{'/product/productDetail/' + ${product.product_id}}">
								<img th:src="@{'/product/productList/image/' + ${product.product_id}}" alt="商品画像">
							</a>
						</div>
						<div class="product_name">
							<label th:text="${product.product_name}">							
							</label>
						</div>
						<div class="company_name">
							<label th:text="${product.company.company_name}">							
							</label>
						</div>
						<div class="product_price">
							<p>
								¥
							</p>
							<label th:text="${product.price}">							
							</label>
						</div>
						<div class="product_tax_price">
							<p>
								¥
							</p>
							<label th:text="${product.tax_price}">							
							</label>
						</div>
					</section>
				</div>
			</div>
		</main>
		<footer th:replace="common/footer :: layout_footer">
		</footer>
		<script th:src="@{/product/js/productList.js}"></script>
	</body>
</html>