<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			商品トップ
		</title>
		<link th:href="@{/product/css/productTop.css}" rel="stylesheet">
		<link th:href="@{/common/css/header.css}" rel="stylesheet">
		<link th:href="@{/common/css/footer.css}" rel="stylesheet">
		<script th:src="@{/product/js/productTop.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<header th:replace="common/header :: layout-header">
		</header>
		<main>
			<div id="popup" class="popup" th:if="${loginSuccess}" th:text="${loginSuccess}">
			</div>
			<div class="main">
				<h1 class="main_title">
					TOP画面
				</h1>
				<div class="sale_items">
					<h2 class="sale_items_title">
						セール品
					</h2>
				</div>
				<div class="product_list">
					<section th:each="product : ${products}">
						<a th:href="@{'/product/productDetail/' + ${product.product_id}}">
							<img th:src="@{'/product/productTop/image/' + ${product.product_id}}" alt="商品画像">
						</a>
					</section>
				</div>
			</div>
		</main>
		<footer th:replace="common/footer :: layout-footer">
		</footer>
	</body>
</html>