<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			商品一覧画面
		</title>
		<link th:href="@{/product/css/productDetail.css}" rel="stylesheet">
		<script th:src="@{/product/js/productDetail.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<!-- 通常表示画面 -->
		<div class="main">
			<h1 class="main_title">
				商品一覧画面
			</h1>
			<div class="product_list">
				<section th:each="product : ${products}">
					<img th:src="@{'/product/image/' + ${product.product_id}}" alt="商品画像">
				</section>
				<section>
					
				</section>
				<section>
					<form>
						<div>
							<button type="submit">
								カートに入れる
							</button>
						</div>
						<div>
							<p>
								数量：
							</p>
							<select name="number" id="number">
								<option value="1">
									1
								</option>
								<option value="2">
									2
								</option>
								<option value="3">
									3
								</option>
								<option value="4">
									4
								</option>
								<option value="5">
									5
								</option>
								<option value="6">
									6
								</option>
								<option value="7">
									7
								</option>
								<option value="8">
									8
								</option>
								<option value="9">
									9
								</option>
								<option value="10">
									10
								</option>
								<option value="11">
									11
								</option>
								<option value="12">
									12
								</option>
								<option value="13">
									13
								</option>
								<option value="14">
									14
								</option>
								<option value="15">
									15
								</option>
								<option value="16">
									16
								</option>
								<option value="17">
									17
								</option>
								<option value="18">
									18
								</option>
								<option value="19">
									19
								</option>
								<option value="20">
									20
								</option>
							</select>
						</div>
						<div>
							<p>
								価格：
							</p>
						</div>
						<div>
							<p>
								税込価格：
							</p>
						</div>
						<div>
							<p>
								在庫表示：
							</p>
						</div>
					</form>
				</section>
				<section>
					<h2>
						＜口コミ＞
					</h2>
					<div>
						<p>
							ユーザー名：
						</p>
					</div>
					<div>
						<p>
							コメント：
						</p>
					</div>
					<div>
						<p>
							評価（５段階）：
						</p>
					</div>
					<div>
						<input>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>