@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
.username_main, .rating_main, .email_main, .comment_main, .image_main {
	margin: 10px 0;
	padding: 0;
}
.image_main {
	display: flex;
	align-items: center;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 100%;
}
.username_title, .email_title, .comment_title {
	margin: 0;
}
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	resize: vertical;
	box-sizing: border-box;
}
.rating_title {
	display: inline-block;
}
.image_title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	margin: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.1);
}
.username_main input, .email_main input {
	padding: 10px;
	width: 100ch;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.image_btn {
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	cursor: pointer;
	padding: 5px 5px;
	background-color: rgba(255, 255, 255, 1);
}
#fileInput {
	display: none;
}
.rating_main select {
	margin-left: 5px;
	padding: 10px;
	width: 25ch;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.btn {
	text-align: center;
}
button {
	padding: 5px 10px;
	margin: 0 auto;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
button:hover {
	background-color: rgba(0, 75, 255, 1);
}