<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			ヘッダー
		</title>
	</head>
	<body>
		<header id="header" th:fragment="layout_header">
			<div class="header_title">
				<h1>
					Cytech EC.
				</h1>
			</div>
			<div class="header_search">
				<input id="search_name" placeholder="商品名">
				<select id="search_sort">
					<option value="fashion">
						ファッション
					</option>
					<option value="category">
						カテゴリー順
					</option>
					<option value="company">
						会社名順
					</option>
					<option value="priceAsc">
						価格昇順
					</option>
					<option value="priceDesc">
						価格降順
					</option>
					<option value="new">
						新着順
					</option>
				</select>
				<button id="search_btn">
					検索
				</button>
			</div>
			<div class="header_user_log">
				<div class="header_my_page">
					<a class="btn_my_page">
						マイページ
					</a>
				</div>
				<div class="header_log">
					<div class="header_user">
						<p>
							ユーザー名：
						</p>
						<span>
						</span>
					</div>
					<div class="header_btn">
						<button>
							ログアウト
						</button>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>