<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			口コミ投稿
		</title>
		<link th:href="@{/review/css/reviewPost.css}" rel="stylesheet">
		<link th:href="@{/common/css/header.css}" rel="stylesheet">
		<link th:href="@{/common/css/footer.css}" rel="stylesheet">
		<script th:src="@{/review/js/reviewPost.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<header th:replace="common/header :: layout-header">
		</header>
		<main>
			<form th:action="@{/review/reviewPost/{productId}(productId=${product.product_id})}" method="post">
				<h1>
					口コミ投稿画面
				</h1>
				<div class="username_main">
					<p class="username_title">
						ユーザー名（任意）
					</p>
					<input type="text" name="dummy_user_name" placeholder="ユーザー名">
				</div>
				<div class="rating_main">
					<p class="rating_title">
						評価
					</p>
					<select name="rating" required>
						<option value="">
						</option>
						<option value="1">
							1
							</option>
						<option value="2">
							2
						</option>
						<option value="3">
							3
						</option>
						<option value="4">
							4
						</option>
						<option value="5">
							5
						</option>
					</select>
				</div>
				<div class="email_main">
					<p class="email_title">
						メールアドレス
					</p>
					<input type="email" name="email" placeholder="メールアドレス">
				</div>
				<div class="comment_main">
					<p class="comment_title">
						コメント
					</p>
					<textarea name="comment" rows="5" required onfocus="this.setSelectionRange(0,0)">
					</textarea>
				</div>
				<div class="image_main">
					<p class="image_title">
						Choose file
					</p>
					<label class="image_btn" for="fileInput">
						画像を選択
					</label>
						<input type="file" id="fileInput" name="review_img_path">
				</div>
				<input type="hidden" name="productId" th:value="${product.product_id}">
				<input type="hidden" name="userId" th:value="${user != null ? user.user_id : 0}">
				<div class="btn">
					<button type="submit">
						投稿
					</button>
				</div>
			</form>
		</main>
		<footer th:replace="common/footer :: layout-footer">
		</footer>
	</body>
</html>