<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			カート追加
		</title>
		<link th:href="@{/cart/css/cartAddition.css}" rel="stylesheet">
		<link th:href="@{/common/css/header.css}" rel="stylesheet">
		<link th:href="@{/common/css/footer.css}" rel="stylesheet">
		<script th:src="@{/cart/js/cartAddition.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<header th:replace="common/header :: layout_header">
		</header>
		<main>
			<div class="cart_main">
				<h1>
					カート追加画面
				</h1>
				<div class="cart_list">
					<section>
						<img th:src="@{${productDetail.img_path}}" alt="商品画像">
					</section>
					<section>
						<div>
							<p>
								商品名：
							</p>
							<span th:text="${productDetail.product_name}">
							</span>
						</div>
						<div>
							<p>
								個数：
							</p>
							<span th:text="${quantity}">
							</span>
							<p>
								個
							</p>
						</div>
						<div>
							<p>
								カートの合計：
							</p>
							<span th:text="${totalPrice}">
							</span>
							<p>
								円
							</p>
						</div>
					</section>
				</div>
				<div class="btn_main">
					<a th:href="@{'/purchase/purchaseDetail/' + ${cartId}}">
						レジに進む
					</a>
					<a th:href="@{'/cart/cartDetail/' + ${cartId}}">
						カートに移動
					</a>
					<a th:href="@{/product/productTop}">
						TOP画面に戻る
					</a>
				</div>
			</div>
		</main>
		<footer th:replace="common/footer :: layout_footer">
		</footer>
	</body>
</html>