<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			カート追加
		</title>
		<link th:href="@{/cart/css/cartAddition.css}" rel="stylesheet">
		<script th:src="@{/cart/js/cartAddition.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<main>
			<h1>
				カート追加画面
			</h1>
			<div class="cart_main">
				<div class="cart_list">
					<section>
						<img th:src="@{'/cart/image/' + ${productDetail.product_id}}" alt="商品画像">
					</section>
					<section>
						<div>
							<p>
								商品名：
							</p>
							<span>
							</span>
						</div>
						<div>
							<p>
								個数：
							</p>
							<span>
							</span>
							<p>
								個
							</p>
						</div>
						<div>
							<p>
								カートの合計：
							</p>
							<span>
							</span>
							<p>
								円
							</p>
						</div>
					</section>
				</div>
				<div class="btn_main">
					<button>
						レジに進む
					</button>
					<button>
						カートに移動
					</button>
					<a th:href="@{/product/product_top}">
						<button>
							TOP画面に戻る
						</button>
					</a>
				</div>
			</div>
		</main>
	</body>
</html>