@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
p, span {
	display: inline-block;
	margin: 0;
}
h3 {
	margin: 0 0 10px 0;
}
.cart_main {
	display: grid;
	grid-template-columns: 880px 400px;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
.cart_list {
	display: grid;
	grid-template-columns: 450px 400px;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
img {
	width: 450px;
	height: 300px;
}