@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
p, span {
	display: inline-block;
	margin: 0;
}
h3 {
	margin: 0 0 10px 0;
}
.detail_main {
	display: grid;
	grid-template-columns: 880px 400px;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
.detail_list_01 {
	display: grid;
	grid-template-columns: 450px 400px;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
img {
	width: 450px;
	height: 300px;
}
.reviews h3, .reviews p {
	font-weight: bold;
}
.post_time {
	margin-top: 37px;
}
form {
	margin: 10px;
}
select {
	width: 20ch;
	padding: 2.5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
.detail_list_02 {
	border: 1px solid rgba(0, 0, 0, 0.25);
}
button {
	padding: 10px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
button:hover {
	background-color: rgba(0, 75, 255, 1);
}