@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
}
main{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
p, span {
	display: inline-block;
	margin: 0;
}
h3 {
	margin: 0 0 10px 0;
}
.cart_main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
.cart_list {
	display: grid;
	grid-template-columns: 450px 300px;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
	width: max-content;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}
img {
	width: 450px;
	height: 300px;
}
section div {
	margin-bottom: 10px;
}
.btn_main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}
.btn_main a {
	padding: 10px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
.btn_main a:hover {
	background-color: rgba(0, 75, 255, 1);
}