<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			購入品詳細
		</title>
		<link th:href="@{/purchase/css/purchaseDetail.css}" rel="stylesheet">
		<link th:href="@{/common/css/header.css}" rel="stylesheet">
		<link th:href="@{/common/css/footer.css}" rel="stylesheet">
		<script th:src="@{/purchase/js/purchaseDetail.js}" type="text/javascript">
		</script>
	</head>
	<body>
		<header th:replace="common/header :: layout_header">
		</header>
		<main>
			<form th:action="@{/purchase/saveAddress}" method="post">
				<input type="hidden" name="cartId" th:value="${cart.cart_id}">
				<h1>
					購入品詳細画面
				</h1>
				<section class="section">
					<p>
						＜受け取り場所＞
					</p>
					<div class="option">
						<input type="radio" name="addressOption" value="1" th:checked="${paymentOption == '1'}">
						<div class="card">
							<div class="field">
								<p>
									名前:
								</p>
							</div>
							<div class="field">
								<p>
									住所:
								</p>
								<input type="text" name="address1" th:value="${address}" placeholder="住所">
							</div>
							<div class="field">
								<p>
									アパート名等:
								</p>
								<input type="text" name="building1" th:value="${building}" placeholder="アパート名等">
							</div>
						</div>
					</div>
					<div class="option">
						<input type="radio" name="addressOption" value="2" th:checked="${paymentOption == '2'}">
						<div class="card">
							<div class="field">
								<p>
									名前:
								</p>
							</div>
							<div class="field">
								<p>
									住所:
								</p>
								<input type="text" name="address2" placeholder="住所">
							</div>
							<div class="field">
								<p>
									アパート名等:
								</p>
								<input type="text" name="building2" placeholder="アパート名等">
							</div>
						</div>
					</div>
				</section>
				<section class="section">
					<p>
						＜お支払い情報＞
					</p>
					<div class="option">
						<input type="radio" name="payment" value="1" th:checked="${paymentOption == '1'}">
						<div class="card small">
							<div class="field">
						    	<input type="text" name="paymentNumber1" th:value="${paymentNumber}" placeholder="カード番号">
						    </div>
							<div class="field">
								<input type="text" name="paymentExpire1" th:value="${paymentExpire}" placeholder="有効期限 DD/YY">
							</div>
						</div>
					</div>
					<div class="option">
						<input type="radio" name="payment" value="2" th:checked="${paymentOption == '2'}">
						<div class="card small">
							<div class="field">
						    	<input type="text" name="paymentNumber2" placeholder="カード番号">
							</div>
							<div class="field">
								<input type="text" name="paymentExpire2" placeholder="有効期限 DD/YY">
							</div>
						</div>
					</div>
				</section>
				<button type="submit" class="confirm_btn">
					確認
				</button>
			</form>
		</main>
		<footer th:replace="common/footer :: layout_footer">
		</footer>
	</body>
</html>