@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
}
main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.review_btn {
	text-decoration: none;
	padding: 15px;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
a:hover {
	background-color: rgba(0, 75, 255, 1);
}
p, span {
	display: inline-block;
	margin: 0;
}
h3 {
	margin: 0 0 10px 0;
}
img {
	width: 450px;
	height: 300px;
}
.detail_main {
	display: flex;
	gap: 20px;
	margin: 0 auto;
	padding: 5px;
}
.product_detail {
	display: flex;
	gap: 20px;
	margin: 0 auto 20px auto;
	padding: 5px;
}
.product_detail_list {
	width: 400px;
}
.reviews {
	width: 880px;
	font-size: 18px;
}
.reviews > div {
	position: relative;
}
.post_time {
	position: absolute;
	margin-right: 130px;
	right: 0;
	top: 0;
	white-space: nowrap;
}
.evaluation {
	margin-bottom: 20px;
}
.product_btn {
	display: flex;
	margin-top: 25px;
}
.reviews_btn {
	margin-top: 5px;
	margin-left: 400px;
}
.detail_list_02 {
	width: 350px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 20px 10px;
}
.cart_addition {
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
.cart_addition:hover {
	background-color: rgba(0, 75, 255, 1);
}
.single_purchase {
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 75, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 1);
	border-radius: 5px;
}
.single_purchase:hover {
	background-color: rgba(0, 75, 255, 1);
}
form p, form span {
	font-size: 18px;
	margin: 5px;
}
.cart_quantity {
	font-size: 18px;
	padding: 5px;
	width: 15ch;
}