@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
.main_title {
	text-align: left;
	margin: 0;
}
img {
	display: block;
	width: 450px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 1);
	object-fit: center;
	object-position: center;
}
.product_list {
	display: grid;
	grid-template-columns: repeat(4, 450px);
	gap: 10px;
	margin: 10px;
	padding: 5px;
	width: auto;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}