@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
.popup {
	position: fixed;
	top: 20px;
	transform: translate(-50%, -50%);
	background-color: rgba(40, 170, 70, 0.75);
	color: rgba(255, 255, 255, 1);
	padding: 15px 25px;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font-size: 18px;
	opacity: 0;
	animation: fadeInOut 3s ease forwards;
	z-index: 1000;
}
@keyframes fadeInOut {
	0% { opacity: 0; transform: translateY(-10px); }
	10% { opacity: 1; transform: translateY(0); }
	80% { opacity: 1; }
	100% { opacity: 0; transform: translateY(-10px); }
}
.main_title {
	text-align: left;
	margin: 0;
}
.sale_items {
	margin: 0 auto;
	padding: 10ox;
	text-align: center;
}
.sale_items h2 {
	background-color: rgba(255, 225, 0, 1);
}
img {
	display: block;
	width: 450px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 1);
	object-fit: center;
	object-position: center;
}
.product_list {
	display: grid;
	grid-template-columns: repeat(4, 450px);
	gap: 10px;
	margin: 10px;
	padding: 5px;
	width: auto;
	justify-content: start;
	grid-auto-flow: row;
	align-items: stretch;
}