@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	border: 1px solid;
}
header#header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	padding: 10px 50px;
	background-color: rgba(50, 50, 75, 1);
}
.header_title {
	justify-self: start;
    font-size: 24px;
    font-weight: bold;
}
.header_title h1 {
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}
.header_search {
	justify-self: center;
	font-size: 16px;
}
.header_search input, .header_search select {
	width: 35ch;
	padding: 10px;
	border-radius: 5px;
}
.header_search button {
	padding: 10px;
	margin-left: 10px;
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(50, 50, 75, 1);
	color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	cursor: pointer;
}
.header_user_log {
	display: flex;
	justify-self: end;
	align-items: center;
	
}
.header_my_page {
	margin-right: 40px;
}
.header_my_page a {
	width: 100px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 255, 0.7);
	padding: 15px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.header_my_page a:hover {
	background-color: rgba(0, 0, 255, 1);
}
.header_log {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	
}
.header_user, .header_btn {
	display: inline-block;
	color: rgba(255, 255, 255, 1);
	border: 1px rgba(0, 0, 0, 0.25) solid;
}
.header_user {
	padding: 5px 10px 0 10px;
}
.header_user p {
	margin: 0;
	padding: 0;
}
.header_user span {
	margin: 0;
	padding: 0;
}
.header_btn button {
	display: inline-block;
	border: 1px solid rgba(50, 50, 75, 1);
	background-color: rgba(50, 50, 75, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	padding: 0 10px 5px 10px;
	cursor: pointer;
}