@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
}
main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
h1 {
	margin-bottom: 30px;
}
a {
	text-decoration: none;
}
p {
	display: inline-block;
	margin: 0;
}
.completion_main > div {
	display: flex;
	gap: 10px;
}
section {
	width: 600px;
}
.completion_img {
	display: flex;
}
.completion_img p {
	height: 300px;
}
img {
	width: 450px;
	height: 300px;
}
.completion_btn {
margin-top: 75px;
margin-bottom: 50px;
text-align: center;
}
.completion_btn h2 {
	margin: 0 auto 400px auto;
}
.back_btn {
	padding: 10px 15px;
	margin-left: 50px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba( 0, 0, 255,0.7);
	border-radius: 5px;
}
.back_btn:hover {
	background-color: rgba( 0, 0, 255, 1);
}