@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
main {
	width: auto;
}
h1 {
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 10px;
}
.section {
	margin-bottom: 40px;
}
.option {
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin-bottom: 15px;
	cursor: pointer;
}
.option input[type="radio"] {
	margin-right: 80px;
	transform: scale(1.1);
	accent-color: #4a67ff;
}
.card {
	background: #fff;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 15px 20px;
	width: 100%;
	box-sizing: border-box;
}
.card.small {
	width: 100%;
}
.field {
	margin-bottom: 10px;
}
.field label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}
.field input {
	width: 100ch;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.confirm-btn {
	display: block;
	margin: 30px auto;
	background: #4a67ff;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 10px 30px;
	cursor: pointer;
	transition: background 0.3s;
}
.confirm-btn:hover {
	background: #354dcc;
}